.select__container {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 125px;
  padding: 5px;
  border: 1px solid white;
  cursor: pointer;
  line-height: 1.1;

  & .select {
    background-color: transparent;
    font-size: 16px;
    font-family: Raleway, sans-serif;
    letter-spacing: 1px;
    min-width: 115px;
    color: white;
    line-height: 1;
    border-style: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    & option {
      background: #191919;
      font-size: 16px;
    }
  }

  & .select,
  &::after {
    grid-area: select;
  }
}
