* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body {
  background-color: darkgray;
  font-size: 130%;
  font-family: calluna, Calluna, Georgia, sans-serif;
  font-weight: 300;
  line-height: 1.55em;
  text-rendering: optimizeLegibility;
  color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-family: adelle, Adelle, Georgia, sans-serif;
  font-weight: 800;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 170%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
  text-align: center;
}

h2 {
  font-size: 150%;
  margin-top: 1em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h3 {
  font-size: 130%;
  margin-top: 3.25em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h4 {
  font-size: 110%;
  margin-top: 2em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

h5 {
  font-size: 100%;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.4em;
}

p {
  margin: 0.5em 0 2.5em;
}

a {
  text-decoration: none;
  padding: 13px 7px;
  color: white;
}

a:hover {
  background-color: #1a1818;
  border-bottom: 3px solid blueviolet;
}

blockquote {
  padding: 0.1em 1.3em;
  background: #fafafa;
  border-left: 5px #81e26d solid;
  color: #666;
}
