@import "../../styles/variables";

#categories {
  min-height: 200px;
  width: $width;
}

#newGames {
  min-height: 200px;
  width: $width;
}

.nothing_found {
  font-family: Raleway, sans-serif;
  position: absolute;
  display: flex;
  justify-self: center;
}
