.games__card__container {
  padding: 20px;
  border-radius: 20px;
  min-width: 0;

  & .games__card {
    box-shadow: 0 0 10px 3px blueviolet;
    border-bottom: 3px solid blueviolet;
    cursor: pointer;
    position: relative;
    color: white;
    background-color: #121212;
    border-radius: 20px;
    transform-style: preserve-3d;
    transition: 1s all ease;

    & .card__front {
      display: flex;
      flex-direction: column;
      height: 100%;
      backface-visibility: hidden;

      &_image {
        height: 350px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        width: 100%;
        object-fit: cover;
      }

      &_title {
        font-family: Impact, Charcoal, sans-serif;
        font-size: 22px;
        padding: 10px 0 0 10px;
        display: flex;
        flex-direction: initial;
        justify-content: space-between;
      }

      &_rating {
        margin-left: 20px;
        margin-bottom: 20px;
      }

      & .category {
        margin: 3px;
        color: #a3a3a3;
        width: 20px;
        height: 20px;
      }

      & .category__container {
        display: flex;
        justify-content: center;
        justify-items: left;
        align-items: center;
        padding: 2px;
        min-width: 30px;
        height: 30px;
        position: fixed;
        background: rgba(0, 0, 0, 0.7);

        &:first-of-type {
          border-top-left-radius: 15px;
        }
      }
    }

    & .card__back {
      display: flex;
      flex-direction: column;
      position: absolute;
      padding: 10px;
      top: 0;
      left: 0;
      height: 100%;
      transform: rotateY(180deg);
      backface-visibility: hidden;

      &__top {
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        word-wrap: break-word;
        line-break: anywhere;
        font-family: Raleway, sans-serif;
        font-size: 17px;
        margin-top: auto;
      }

      &__bottom {
        height: 25%;
        font-family: Raleway, sans-serif;
        font-size: 20px;
        text-align: center;

        & .buttons_container {
          display: flex;
        }
      }
    }
  }

  &:hover {
    .games__card {
      transform: rotateY(180deg);
    }
  }
}

#checked {
  color: yellow;
}
