.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;

  &__input {
    padding: 7px;
    font-size: 18px;
    width: 60%;
    color: white;
    border: 1px solid white;
    outline: none;
    background: transparent;
  }

  &__description {
    height: 150px;
    width: 60%;
    resize: none;
    padding: 10px;
    font-size: 18px;
    color: white;
    font-family: Raleway, sans-serif;
    border: 1px solid white;
    outline: none;
    background: transparent;
  }

  & .checkbox {
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
    border: 2px solid #191919;
    outline: 2px solid blueviolet;
    width: 20px;
    height: 20px;

    &:checked {
      background-color: blueviolet;
    }

    &:hover {
      background-color: blueviolet;
      filter: brightness(80%);
    }
  }

  & label {
    font-family: Raleway, sans-serif;
    border-bottom: 2px solid blueviolet;
  }
}
