.profile {
  font-family: Raleway, sans-serif;
  display: flex;
  justify-content: space-between;
  gap: 50px;

  & .label {
    display: block;
    color: white;
    font-size: 16px;
  }

  & .username__input {
    display: block;
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    outline: none;
    background: transparent;
  }

  & .description__textarea {
    height: 200px;
    resize: none;
    display: block;
    padding: 10px;
    font-size: 20px;
    color: white;
    border: 1px solid white;
    outline: none;
    background: transparent;
  }

  & .error {
    display: flex;
    align-items: center;
    height: 10px;
    margin-bottom: 30px;
    font-size: 16px;

    & span {
      color: #bf1650;
    }

    span:before {
      content: "⚠ ";
    }
  }
}
